@keyframes scaleUp {

      0% {
            transform: scale(1);
      }

      100% {
            transform: scale(1.1);
      }
}

@keyframes scaleDown {

      0% {
            transform: scale(1.1);
      }

      100% {
            transform: scale(1);
      }
}

.row:hover {
      animation: scaleUp 0.5s ease-in-out;
}

.scaledown {
      animation: scaleDown 0.5s ease-in-out;
}